<h1>Editing news post</h1>

<%= render "form", news_post: @news_post %>

<br>

<div>
  <%= link_to "Show this news post", @news_post %> |
  <%= link_to "Back to news posts", news_posts_path %>
</div>
