
<div class="container">
    <%= link_to 'Back', :back %>

    <h1>About Us</h1>

    <p>GoLocal is a project of CMU's Center for Shared Prosperity and CREATE Lab. Our community partners are the BEAM Collaborative and the Pittsburgh Hispanic Development Corporation.</p>

    <p>This directory builds on the prior efforts of many CMU departmental administrators and business managers to support minority-owned businesses by buying local on behalf of the university. A few things to keep in mind:</p>

    <ul>
        <li>GoLocal businesses are recommended by colleagues who have had a good experience.</li>
        <li>With changing economic conditions small businesses can struggle, and vendors may fluctuate. </li>
        <li>Note that most on-campus vendors are small, locally-owned businesses, so ordering from your favorite campus restaurant also supports a small business.</li>
    </ul>

    <p>GoLocal is a great way to find local food businesses with experience catering at CMU. However, in accordance with its non profit mission, Carnegie Mellon University does not endorse vendors.</p>
</div>
