<div class="container">
  <h1>News</h1>
  <hr/>
  <br/>

<% @news_posts.each do |news_post| %>

  <div class="row" style="margin-bottom: 45px;">
    <div id="<%= dom_id news_post %>">
      <h1><%= news_post.title %></h1>
      <h3><i>Created: <%= news_post.created_at.strftime("%B %d, %Y") %></i></h3>
    </div>
    <p>
      <%= link_to "Read more", about_news_path(news_post.id) %>
    </p>
  </div>

<% end %>
</div>
