<h1>New Social Media Site for Business</h1>

<% if @business %>
<%= render 'form', business: @business, business_social_media_site: @business_social_media_site %>
<br/>
<br/>
<br/>
<p><%= link_to "Back to Social Media Sites for #{@business.name}", admin_business_business_social_media_sites_path(@business) %></p>
<% else %>
<%= render 'form', business: @business, business_social_media_site: @business_social_media_site %>
<br/>
<br/>
<br/>
<p><%= link_to "Back to Social Media Sites for #{@business.name}", admin_business_business_social_media_sites_path(@business) %></p>
<% end %>