<h1>User Home</h1>

<p><a href="/logout">Logout</a></p>

<h4>Username</h4>
<p><%= current_user.username %></p>

<h4>Email</h4>
<p><%= current_user.email %></p>

<br/>

<h4>Admin Dashboard</h4>
<p><i><%= link_to 'Go to Admin Dashboard', "/admin" %></i></p>
