<h1>Editing social media site</h1>

<%= render "form", social_media_site: @social_media_site %>

<br>

<div>
  <%= link_to "Show this social media site", @social_media_site %> |
  <%= link_to "Back to social media sites", social_media_sites_path %>
</div>
