
<div class="container">
    <%= link_to 'Back', :back %>

    <h1>Testimonials</h1>

    <p>Ordered food from a GoLocal vendor and loved it? Submit a GoLocal testimonial using <a href="https://docs.google.com/forms/d/e/1FAIpQLSeFULRglUt2mMWBm1TXDHkSHjx4UzQEp_arGxZEQn8FXxjmzw/viewform">this form</a>.</p>

</div>
