<% content_for :body do %>

    <h1>Our Partners</h1>

    <p>We partnered with the <a target="_blank" href="https://beamcollaborative.org/">BEAM Collaborative</a> and the <a target="_blank" href="https://phdcincubator.org/en/home/">Pittsburgh Hispanic Development Corporation</a> to ensure that we are giving opportunities to startup food businesses. Each of these organizations provides coaching and other direct support to entrepreneurs at the start of their journeys and we are proud to feature them on GoLocal.</p>

    <p>At Carnegie Mellon, we are proud to count <a target="_blank" href="https://athletics.cmu.edu/landing/index">Athletics</a>, <a target="_blank" href="https://www.cmu.edu/dining/">Dining Services</a>, and <a target="_blank" href="https://www.cmu.edu/finance/procurementservices/">Procurement Services</a> as our partners, alongside hundreds of departmental buyers and student organizations. We are also proud to work with the <a target="_blank" href="https://www.cmucreatelab.org/">CREATE Lab</a>, which has designed and maintained the GoLocal website for us since the beginning.</p>

    <p>Working together we can make a difference for small local food businesses, whether they are just starting up or a vital part of our city's fabric.</p>

<% end %>

<%= render 'about/about_layout' %>
