<% content_for :body do %>

    <h1>Join GoLocal</h1>

    <p>If you own a food business and would like to be listed on GoLocal, please complete <a href="https://docs.google.com/forms/d/1nKGj6i1qlnw0DhgphirMnbW_W_4wKonQMK3DZX4SzjU/edit">this online form</a> and we will be in touch if we have questions or to confirm your listing.</p>

    <p>If you know of a local food business that you've worked with and would like to see on GoLocal, please <a href="mailto:centerforsharedprosperity@gmail.com">email us</a> and we will reach out to them.</p>

<% end %>

<%= render 'about/about_layout' %>
