<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "about", "data-turbo-track": "reload" %>
<% end %>

<% content_for :body do %>

    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <h1>Testimonials</h1>

      <p>Ordered food from a GoLocal vendor and loved it? Submit a GoLocal testimonial using <a href="https://docs.google.com/forms/d/e/1FAIpQLSeFULRglUt2mMWBm1TXDHkSHjx4UzQEp_arGxZEQn8FXxjmzw/viewform">this form</a>.</p>
    </div>

<% end %>

<%= render 'about/about_layout' %>
