<% content_for :body do %>

    <h1>Catering Tips</h1>

    <p>If you are buying food with a university purchasing card for the first time, here are some tips for making everything go smoothly:</p>

    <ol>
      <li>Give the food business some advance notice - Depending on the size of your event, you may need to give more notice than you think. Small events (10 lunches or so) can be ordered a day ahead or sometimes less (ie. pizzas, sub sandwiches, other shared items), but as the event size increases you should build in time to give your vendor notice of your needs.</li>
      <li>Minimum orders - Some vendors have minimum order sizes, particularly if you need delivery to campus. This makes it worthwhile for the vendor. If you have a smaller order you can offer to pick it up or see if the vendor has delivery through a service like GrubHub, though this will add a cost.</li>
      <li>Number of Attendees - No food business wants you to run out of food at your event, so if food waste bothers you feel free to reduce the number of attendees by about 10%. This will save some money and you will have less leftovers to deal with.</li>
      <li>Cutting costs - Other ways to cut costs and waste include buying bottled drinks and side items like chips, fruit, and cookies at a grocery store, since these can be bought ahead of your event. Go green by providing a pitcher and cups for water rather than bottled water.</li>
      <li>Tax exemption - Carnegie Mellon is tax exempt, so be prepared to provide the university’s tax exempt letter if the vendor requests it. Get a copy of the form here: https://www.cmu.edu/finance/taxation/tax-forms/index.html</li>
      <li>Check in with University Contracts for anything more than drop off catering - If your event is bringing an outside caterer to campus to set up, serve/bartend, and clean up you will need a contract because these are services. If you are not sure, you can always contact University Contracts (university-contracts@andrew.cmu.edu) and ask questions. You want to have a fully-executed contract when you bring catering to campus.</li>
      <li>Make a plan for the day of the event - Share your cell phone number and explain clearly where you want your food dropped off on campus. If you need to be in the meeting to do other tasks, delegate to someone you trust to connect with the food delivery.</li>
      <li>Receipts are critical - Collect any and all the receipts, especially the itemized one with the final total including the tip. You may need several pieces of paper to verify your transaction, so don't throw anything away until you know that you have everything you need.</li>
      <li>Large catering orders - If your catering order is greater than $5,000 you will need to create a purchase order since this purchase exceeds the micro-purchase threshold. Be sure to check if your chosen vendor is an approved vendor in Oracle well in advance of your event because if they are not it can take several weeks or more for vendors to be entered into PaymentWorks and approved.</li>
      <li>Check out the CMU Procurement Manual for additional information about the rules and regulations of buying stuff with university funds: <a href="https://www.cmu.edu/finance/procurementservices/policies-procedures/procurement-manual.html">https://www.cmu.edu/finance/procurementservices/policies-procedures/procurement-manual.html</a></li>
    </ol>

<% end %>

<%= render 'about/about_layout' %>
