div.dark {
  background-color: #eee;
}

div.green {
  background-color: #e0ffe0;
}

div.red {
  background-color: #ff5050;
}

div.csp-keywords span.badge {
  font-size: 14px;
  background-color: #666;
}

div.csp-keywords span.badge.red {
  background-color: #ee2020;
}

div.csp-header {
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%;
}

div.csp-header div.container, div.csp-header h2 {
  margin: 0;
}

div.csp-header h2 a {
  color: #000;
}

div.csp-header .csp-header-buttons {
  position: absolute;
  margin-left: 10px;
  margin-top: 0;
  font-size: 30px;
  color: #000;
}

div.csp-header .csp-header-buttons a {
  color: #000;
}


div.container.csp-demo3 {
  background-color: #ffaeae;
}
