
// header

div.csp-header {
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%;
  background-color: #465F8B;
}

div.csp-header-back {
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%;
  background-color: #333;
}

div.csp-header div.container, div.csp-header h2 {
  margin: 0;
}

div.csp-header h2 a {
  color: #000;
}

div.csp-header .csp-header-buttons {
  position: absolute;
  /* easy way to ensure button stays in front of other layouts */
  z-index: 10;
  margin-left: 10px;
  margin-top: 0;
  font-size: 30px;
  color: #000;
}

div.csp-header .csp-header-buttons a {
  color: #000;
}

div.csp-header div.csp-header-links a {
  color: #000; /* link default is #337ab7 */
  font-weight: bold;
  text-decoration: underline;
  font-size: 16px;
}


// footer

div.csp-footer {
  width: 100%;
  height: 250px;
  margin-top: 50px;
  padding-top: 100px;
  color: #000;
  background-color: #465F8B;
}

div.csp-footer a {
  color: #00a;
}


// Business pages

div.csp-search-keywords a span {
  color: #666;
  font-size: 16px;
  background-color: #ddd;
  padding: 5px;
  margin: 3px;
}

div.csp-search-keywords a span.keywords-selected {
  color: #eee;
  background-color: #111;
}

div.csp-index-keywords span {
  color: #666;
  font-size: 16px;
  background-color: #ddd;
}

div.csp-index-keywords span.keywords-selected {
  color: #eee;
  background-color: #111;
}

div.csp-index-keywords.nodisplay {
  display: none;
}

div.csp-search-disclaimer p {
  color: #666;
  font-size: 14px;
  padding: 5px;
  margin: 3px;
}


// misc

div.container.csp-demo3 {
  background-color: #ffaeae;
}

div.csp-search-dropdown button {
  font-weight: bold;
}

div.dark {
  background-color: #eee;
}

div.green {
  background-color: #e0ffe0;
}

div.red {
  background-color: #ff5050;
}

div.csp-keywords span.badge {
  font-size: 14px;
  background-color: #666;
}

div.csp-keywords span.badge.red {
  background-color: #ee6060;
}

div.csp-keywords span.badge.green {
  background-color: #60ee60;
}

div.csp-keywords span.badge.blue {
  background-color: #6060ee;
}

p.label-description {
  font-style: italic;
  color: #aaa;
}

div.headline-description {
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  color: #465F8B;
  padding-bottom: 20px;
}

div.csp-index-category {
  font-weight: bold;
  font-size: 16px;
  color: #A1A1A1;
  padding-bottom: 5px;
}

div.csp-index-category p span {
  font-weight: normal;
  font-size: 16px;
  color: #A1A1A1;
}