<h1>Editing temp business</h1>

<%= render "form", temp_business: @temp_business %>

<br>

<div>
  <%= link_to "Show this temp business", @temp_business %> |
  <%= link_to "Back to temp businesses", temp_businesses_path %>
</div>
