<p style="color: green"><%= notice %></p>

<h1>Temp businesses</h1>

<div id="temp_businesses">
  <% @temp_businesses.each do |temp_business| %>
    <%= render temp_business %>
    <p>
      <%= link_to "Show this temp business", temp_business %>
    </p>
  <% end %>
</div>

<%= link_to "New temp business", new_temp_business_path %>
