<div class="csp-footer">
<p class="text-center"><i>Hosted by the <a href="https://cmucreatelab.org/">CREATE Lab</a> at <a href="https://www.cmu.edu/">CMU</a>.</i></p>
<p class="text-center"><i>If you have any feedback regarding vendor experiences or this website, contact us: <a href="mailto:<%= CONTACT_EMAIL %>"><%= h CONTACT_EMAIL %></a>.</i></p>
</div>
