<div class="csp-footer">
<p class="text-center"><i>Hosted by the <a href="https://cmucreatelab.org/">CREATE Lab</a> at CMU.</i></p>
<p class="text-center"><i>If you have any feedback regarding vendor experiences or this website, <a href="mailto:<%= CONTACT_EMAIL %>">contact us</a>.</i></p>
</div>
