<div class="csp-header text-center">
  <div class="csp-header-buttons">
<% unless @header_buttons.nil? %>
    <!-- <a href="#"><span class="glyphicon glyphicon-menu-hamburger"></span></a> -->
    <% @header_buttons.each do |item| %>
    <a href="<%= item[:link] %>"><span class="glyphicon <%= item[:icon]%>"></span></a>
    <% end %>
<% end %>
<% if logged_in? %>
    <a href="/login"><span class="glyphicon glyphicon-edit"></span></a>
<% end %>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-2"></div>
      <div class="col-sm-12 col-md-2"></div>
      <div class="col-sm-12 col-md-4"><a href="/"><img src="<%= asset_path('golocal-logo.png')%>" height="120" /></a></div>
      <div class="col-sm-12 col-md-2"></div>
      <div class="col-sm-12 col-md-2"></div>
    </div>
    <div class="row csp-header-links">
      <div class="col-sm-12 col-md-2"><a href="/about-us">About Us</a></div>
      <div class="col-sm-12 col-md-2"><a href="/partner-with-us">Partner With Us</a></div>
      <div class="col-sm-12 col-md-2"><a href="/catering-tips">Catering Tips</a></div>
      <div class="col-sm-12 col-md-2"><a href="/our-partners">Our Partners</a></div>
      <div class="col-sm-12 col-md-2"><a href="/about-events">Events</a></div>
      <div class="col-sm-12 col-md-2"><a href="/testimonials">Testimonials</a></div>
    </div>
  </div>
</div>
