<div class="csp-header text-center">
  <div class="csp-header-buttons">
<% unless @header_buttons.nil? %>
    <!-- <a href="#"><span class="glyphicon glyphicon-menu-hamburger"></span></a> -->
    <% @header_buttons.each do |item| %>
    <a href="<%= item[:link] %>"><span class="glyphicon <%= item[:icon]%>"></span></a>
    <% end %>
<% end %>
<% if logged_in? %>
    <a href="/login"><span class="glyphicon glyphicon-edit"></span></a>
<% end %>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-2"></div>
      <div class="col-sm-12 col-md-2"></div>
      <div class="col-sm-12 col-md-4"><a href="/"><img src="<%= asset_path('golocal-logo.png')%>" height="120" /></a></div>
      <div class="col-sm-12 col-md-2"></div>
      <div class="col-sm-12 col-md-2"></div>
    </div>
  </div>
</div>


<!-- above background #465F8B, warm coral to contrast #FF6F61 -->
<div class="csp-header text-center" style="background-color:#FF6F61; font-style: italic;">
  <p>Hey student orgs! Want free food for your next event?</p>
  <p>The first 5 orgs to fill out this <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdY614GGEXpprL073WAWbmDGVMT2ly0lGhPFCQUzZNr5eA2Ug/viewform?usp=sharing&ouid=114600841593386179249">form</a> will get $100 to spend at a GoLocal vendor or local restaurant of your choice.</p>
  <br/>
  <p><a target="_blank" href="/downloads/Fall2025_Contest.pdf">Click here for the contest flyer and GoLocal guide.</a></p>
</div>
