<div class="csp-header text-center">
  <div class="csp-header-buttons">
<% unless @header_buttons.nil? %>
    <!-- <a href="#"><span class="glyphicon glyphicon-menu-hamburger"></span></a> -->
    <% @header_buttons.each do |item| %>
    <a href="<%= item[:link] %>"><span class="glyphicon <%= item[:icon]%>"></span></a>
    <% end %>
<% end %>
  </div>
  <h2 class="text-center"><a href="/">CSP GoLocal</a></h2>
</div>
